alabaster==0.7.8
antlr==2.7.5rc1
appdirs==1.4.3
asn1crypto==0.24.0
attrs==17.4.0
Babel==2.4.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
basemap==1.1.0
beem==0.20.18
bleach==3.3.0
cairocffi==0.8.0
ccsm==0.9.13.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorlover==0.3.0
colorspacious==1.1.0
compizconfig-python==0.9.13.1
configparser==3.7.4
crcmod==1.7
cryptography==2.1.4
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
duplicity==0.7.17
ecdsa==0.13
entrypoints==0.3
enum34==1.1.6
Events==0.3
fasteners==0.12.0
flakon==0.2
Flask==1.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
funcy==1.11
future==0.17.1
futures==3.2.0
graphistry==0.9.63
graphviz==0.10.1
idna==2.8
imagesize==0.7.1
ipaddress==1.0.17
ipykernel==4.10.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
Jinja2==2.10.3
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
konfig==1.1
langdetect==1.0.7
lockfile==0.12.2
MarkupSafe==1.0
matplotlib==2.2.4
mistune==0.8.4
mock==2.0.0
monotonic==1.0
nbconvert==5.4.1
nbformat==4.4.0
neo4j==1.7.2
neobolt==1.7.4
neotime==1.7.4
networkx==2.2
nose==1.3.7
notebook==5.7.8
numpy==1.16.2
numpydoc==0.7.0
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.6.0
ply==3.11
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==1.0.15
protobuf==3.7.1
ptyprocess==0.6.0
py==1.5.2
pycairo==1.18.0
pycparser==2.18
pycrypto==2.6.1
pycryptodomex==3.7.3
Pygments==2.2.0
pygobject==3.26.1
pylibscrypt==1.7.1
pyparsing==2.3.1
pyproj==1.9.5.1
pyrsistent==0.14.11
pyshp==1.2.12
pytest==3.3.2
python-dateutil==2.8.0
python-igraph==0.7.1.post6
pytz==2018.9
PyYAML==3.13
pyzmq==18.0.1
requests==2.21.0
roman==2.0.0
scandir==1.7
scipy==0.19.1
scrypt==0.8.13
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
snap===4.1.0-dev-ubuntu18.04.2-x64-py2.7
Sphinx==1.6.7
sphinx-gallery==0.1.13
steem==1.0.1
subprocess32==3.5.3
swagger-parser==1.0.1
swagger-spec-validator==2.4.3
terminado==0.8.2
testpath==0.4.2
toolz==0.9.0
tornado==4.5.3
traitlets==4.3.2
typing==3.6.2
ujson==1.35
urllib3==1.24.1
voluptuous==0.11.5
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.16.0
widgetsnbextension==3.4.2
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlwt==0.7.5
